[{% for interface in ip_int_brief %}{% set interface_loop = loop %}["{{ interface }}",{% if ip_int_brief[interface].vlan_id is defined %}{% for vlan in ip_int_brief[interface].vlan_id %}"IP Address:","{{ ip_int_brief[interface].vlan_id[vlan].ip_address }}","Status:","{{ ip_int_brief[interface].vlan_id[vlan].interface_status }}",{% endfor %}{% else %}"IP Address:","{{ ip_int_brief[interface].ip_address }}","Status:","{{ ip_int_brief[interface].interface_status }}",{% endif %}"Timestamp:","{{ date }}","This Interface is:",{% if ip_int_brief[interface].interface_status == "protocol-up/link-up/admin-up" %}"HEALTHY"{% else %}"NOT HEALTHY"{% endif%}{% if interface_loop.last %}]{% else %}],{% endif %}{% endfor %}]