[["Mgmt0 Input Rate",{{ Mgmt0.counters.rate.in_rate }}],["Mgmt0 Output Rate",{{ Mgmt0.counters.rate.out_rate }}],["Ethernet 1/5 Input Rate",{{ Eth1_5.counters.rate.in_rate }}],["Ethernet 1/5 Output Rate",{{ Eth1_5.counters.rate.out_rate }}],["Timestamp","{{ date }}"]]